CV_STORAGE_PATH = "storage"
ALLOWED_MIME_TYPES = "application/pdf, application/vnd.openxmlformats-officedocument.wordprocessingml.document"
ALLOWED_EXTENSIONS = "pdf, docx"
ALLOWED_USER_ID = <Ваш Telegram ID>
TG_BOT_TOKEN = <Токен вашего бота>
SECRET_KEY = <Секретный ключ для шифрования данных (можно сгенерировать с помощью utils.generate_secret_key.py)>
EMAIL_ADDRESS = <Ваш email для отправки резюме>
EMAIL_PASSWORD = <Пароль от вашего email (специальный пароль для приложений, если у вас двухфакторная аутентификация)>